{% extends 'accounts/buying.html' %}


{% block content %}
<h1 class="text-center" style = "color: rgb(43, 43, 43);"> Welcome</h1>

<br>


<div class="container">
  <div class="card" id ="backdrop">
    <div class="row">
      
      {% for book in books %}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              {% load static %}

              <form action="{% url 'accounts:reportlisting' %}?book_id={{ book.bookId }}" method="POST">
                {% csrf_token %}
                <input type="image" src="{% static '/flag.png' %}" width="20px" style="position: absolute; right: 5%;" alt="Submit Form" />
              </form>
              
              <div class="image-slot">

              </div>

              <img src="/media/{{ book.image }}" width="75%">
              <!-- IMAGESTUFF - loading -->
              
              <h3 class="text-center">
                {{book.title}}
              </h3>
              {{book.edition}} Edition
              </br>
              By: {{book.author}}
              </br>
              Course: {{book.course}}
              </br>
              Condition: {{book.condition}}
              </br>
              ISBN-13: {{book.isbn}}
              </br>
              <h5>
                ${{book.price}}
              </h5>
            </div>
          </div>
          <form action="{% url 'accounts:add_to_cart' %}?book_isbn={{ book.isbn }}"" method="POST">
            {% csrf_token %}
              <input type="submit" value="Add To Cart">
          </form>


        <!-- {% if username  < book.createdBy %}
        <a  href="/chat/{{ username }}_{{ book.createdBy }}" >
        {% else %}
        <a  href="/chat/{{ book.createdBy }}_{{ username }}" >
        {% endif %}

        <div class="card-footer text-center">
            <button class="btn btn-primary btn-sm"
                    id="center" style="color:white">
                Message Sellar
            </button>

        </div>
      </a> -->

        {% if username  < book.createdBy %}
        <a  href="/chat/{{ username }}_{{ book.createdBy }}/{{book.bookId}}" >
        {% else %}
        <a  href="/chat/{{ book.createdBy }}_{{ username }}/{{book.bookId}}" >
        {% endif %}

        <div class="card-footer text-center">
            <button class="btn btn-primary btn-sm"
                    id="center" style="color:white">
                Message Sellar
            </button>

        </div>
      </a>
        
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- <br>
<div class="container">
  <div class="card" id="backdrop">
    <div class="card-body">
      <div class="row"> -->
        <!-- {% for book in movies %} -->
        <!-- <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center"> -->
<!-- 
              <img src="{{ movie.image }}" alt="" class="img-fluid" width="75%">
              <h3 class="text-center">{{movie.name}}</h3>
              <i class="text-center"> {{ movie.release_date }}</i>
              </div>
              <a href="{% url 'main:detail' movie.id %}">Continue reading</a>
            </div>
          </div>

        </div> -->
        <!-- {% endfor %} -->
      <!-- </div>
    </div>
  </div>
</div> -->

{% endblock %}

