{% extends 'accounts/buying.html' %}


{% block content %}

    {% load static %}
         <img src="{% static '/flag.png' %}" width="20px"> Flag User
    
    <body>
      <style>
        p {
           margin-left: 80px;
        }
        h1 {
          margin-left: 80px;
        }
        </style>
     
      <div class="wrapper">
        <div class="content" role="main">
          

      <div class="container">
        <h1>Profile</h1>
        <p>First Name: {{ form.first_name}}</p>
        <p>Name:  {{ user.first_name}} {{ user.last_name }}</p>
        <p>Year: {{user.year}}</p>
        <p>Email: {{ user.email }}</p>
        <p>Major: {{ user.major }}</p>
        <p>Second Major / Minor: {{ user.major2 }}</p>
        <p>Courses: {{ user.completed_courses }}</p>
        <p>Housing Location: {{ user.housing_location }}</p>
    
        <br />
        <p>Seller Rating: {{ sellerAverage }}</p>
        <p>Buyer Rating: {{ buyerAverage }}</p>

        
        {% for message in messages %}
        <p>
          <a href="/chat/{{message.room }}">chat here</a>

        </p>


        {% endfor %}

        {% if user.is_flagged %}
        <div class="row">
          <p style="color:white">ee</p>
          <p>Flagged Status</p>
          <p style="color:white">beep</p>
          <p style="color:red">Flagged</p>
        </div>

        {% else %}
        <div class="row">
          <p style="color:white">ee</p>
          <p>Flagged Status:</p>
          <p style="color:white">e</p>
          <p style="color:green">Not Flagged</p>
        </div>
    
        {% endif %}
        {% if user.is_banned %}
        <div class="row">
          <p style="color:white">ee</p>
          <p>Flagged Status</p>
          <p style="color:white">e</p>
          <p style="color:red">Banned</p>
        </div>
    
        {% else %}
        <div class="row">
          <p style="color:white">ee</p>
          <p>Banned Status:</p>
          <p style="color:white">e</p>
          <p style="color:green">Not Banned</p>
        </div>
    
        {% endif %}
        <br>
    
      </div>

    </p>
  
    </body>

  {% endblock %}